body{
    background-image: none;
    animation: body 6s forwards ease-in-out;
}
img{
    height: 700px;
}
@keyframes body {
    from{
        background-image: none;
    }
    to{
        background-image: linear-gradient(red,lightgray,black);
    }
}